name: Reset database (DANGEROUS)

on:
  workflow_dispatch: {}

jobs:
  reset:
    runs-on: ubuntu-latest
    env:
      WEATHER_DB_URL: ${{ secrets.WEATHER_DB_URL }}
      TOMORROW_API_KEY: ${{ secrets.TOMORROW_API_KEY }}
      WEATHERAPI_KEY: ${{ secrets.WEATHERAPI_KEY }}
      VISUAL_CROSSING_KEY: ${{ secrets.VISUAL_CROSSING_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: RESET DB
        run: python reset_db.py
